In [7]:
import pandas as pd

In [21]:
import pandas as pd

customers_df = pd.read_csv('/Users/anniemahmood/Documents/Coding Problems/noahs-csv/noahs-customers.csv')
orders_items_df = pd.read_csv('/Users/anniemahmood/Documents/Coding Problems/noahs-csv/noahs-orders_items.csv')
orders_df = pd.read_csv('/Users/anniemahmood/Documents/Coding Problems/noahs-csv/noahs-orders.csv')
products_df = pd.read_csv('/Users/anniemahmood/Documents/Coding Problems/noahs-csv/noahs-products.csv')

merged_orders_customers = pd.merge(orders_df, customers_df, on='customerid', how='inner')
merged_orders_items_customers = pd.merge(merged_orders_customers, orders_items_df, on='orderid', how='inner')
df = pd.merge(merged_orders_items_customers, products_df, on='sku', how='inner')

df = df.drop_duplicates()

df = df.sort_values(by='orderid', ascending=True)

df

,orderid,customerid,ordered,shipped,items,total,name,address,citystatezip,birthdate,phone,sku,qty,unit_price,desc,wholesale_cost
0,1001,4308,2017-01-31 00:32:19,2017-01-31 07:15:00,NaN,25.52,Travis Bartlett,2527B Adam Clayton Powell Jr Blvd,"Manhattan, NY 10039",1942-07-22,929-906-5980,COL0820,1,25.52,Noah's Lunchbox (blue),20.96
161130,1002,11683,2017-01-31 00:58:31,2017-01-31 18:00:00,NaN,35.33,Ashley Jones,36 River Rd,"Manhattan, NY 10044",1977-05-17,516-719-6127,TOY8907,1,12.92,Automatic Train,11.39
161501,1002,11683,2017-01-31 00:58:31,2017-01-31 18:00:00,NaN,35.33,Ashley Jones,36 River Rd,"Manhattan, NY 10044",1977-05-17,516-719-6127,KIT5813,1,7.99,Stone Tongs,6.37
134559,1002,11683,2017-01-31 00:58:31,2017-01-31 18:00:00,NaN,35.33,Ashley Jones,36 River Rd,"Manhattan, NY 10044",1977-05-17,516-719-6127,KIT3981,2,7.21,Strainer,5.51
189710,1003,5676,2017-01-31 01:34:40,2017-01-31 09:00:00,NaN,30.79,Becky Tucker,358½ E 81st St,"Manhattan, NY 10028",1970-10-28,914-340-3469,KIT5861,1,12.97,Vintage Coffee Strainer,11.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185577,215206,11486,2022-12-16 21:32:31,2022-12-18 08:30:00,NaN,109.78,Christopher Mays Jr.,866 E 164th St,"Bronx, NY 10459",1982-02-12,315-940-5152,KIT7684,1,13.94,Power Butter Bowl,10.71
162356,215206,11486,2022-12-16 21:32:31,2022-12-18 08:30:00,NaN,109.78,Christopher Mays Jr.,866 E 164th St,"Bronx, NY 10459",1982-02-12,315-940-5152,KIT9250,1,3.99,Green Fork,3.05
111992,215206,11486,2022-12-16 21:32:31,2022-12-18 08:30:00,NaN,109.78,Christopher Mays Jr.,866 E 164th St,"Bronx, NY 10459",1982-02-12,315-940-5152,HOM2099,1,91.85,Manual Crockpot (magenta),68.33
392014,215207,3283,2022-12-16 22:33:53,2022-12-18 15:30:00,NaN,11.04,Corey Doyle,439½ E 50th St,"Manhattan, NY 10022",1955-11-17,516-685-0677,PET0148,1,5.30,"Gluten-free Adult Cat Food, Salmon & Turkey",4.49
164879,215207,3283,2022-12-16 22:33:53,2022-12-18 15:30:00,NaN,11.04,Corey Doyle,439½ E 50th St,"Manhattan, NY 10022",1955-11-17,516-685-0677,PET7876,1,5.74,"Vegan Adult Cat Food, Duck & Turkey",3.91

In [23]:
df['profit'] = df['qty'] * (df['total'] - df['wholesale_cost'])

df

,orderid,customerid,ordered,shipped,items,total,name,address,citystatezip,birthdate,phone,sku,qty,unit_price,desc,wholesale_cost,profit
0,1001,4308,2017-01-31 00:32:19,2017-01-31 07:15:00,NaN,25.52,Travis Bartlett,2527B Adam Clayton Powell Jr Blvd,"Manhattan, NY 10039",1942-07-22,929-906-5980,COL0820,1,25.52,Noah's Lunchbox (blue),20.96,4.56
161130,1002,11683,2017-01-31 00:58:31,2017-01-31 18:00:00,NaN,35.33,Ashley Jones,36 River Rd,"Manhattan, NY 10044",1977-05-17,516-719-6127,TOY8907,1,12.92,Automatic Train,11.39,23.94
161501,1002,11683,2017-01-31 00:58:31,2017-01-31 18:00:00,NaN,35.33,Ashley Jones,36 River Rd,"Manhattan, NY 10044",1977-05-17,516-719-6127,KIT5813,1,7.99,Stone Tongs,6.37,28.96
134559,1002,11683,2017-01-31 00:58:31,2017-01-31 18:00:00,NaN,35.33,Ashley Jones,36 River Rd,"Manhattan, NY 10044",1977-05-17,516-719-6127,KIT3981,2,7.21,Strainer,5.51,59.64
189710,1003,5676,2017-01-31 01:34:40,2017-01-31 09:00:00,NaN,30.79,Becky Tucker,358½ E 81st St,"Manhattan, NY 10028",1970-10-28,914-340-3469,KIT5861,1,12.97,Vintage Coffee Strainer,11.24,19.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185577,215206,11486,2022-12-16 21:32:31,2022-12-18 08:30:00,NaN,109.78,Christopher Mays Jr.,866 E 164th St,"Bronx, NY 10459",1982-02-12,315-940-5152,KIT7684,1,13.94,Power Butter Bowl,10.71,99.07
162356,215206,11486,2022-12-16 21:32:31,2022-12-18 08:30:00,NaN,109.78,Christopher Mays Jr.,866 E 164th St,"Bronx, NY 10459",1982-02-12,315-940-5152,KIT9250,1,3.99,Green Fork,3.05,106.73
111992,215206,11486,2022-12-16 21:32:31,2022-12-18 08:30:00,NaN,109.78,Christopher Mays Jr.,866 E 164th St,"Bronx, NY 10459",1982-02-12,315-940-5152,HOM2099,1,91.85,Manual Crockpot (magenta),68.33,41.45
392014,215207,3283,2022-12-16 22:33:53,2022-12-18 15:30:00,NaN,11.04,Corey Doyle,439½ E 50th St,"Manhattan, NY 10022",1955-11-17,516-685-0677,PET0148,1,5.30,"Gluten-free Adult Cat Food, Salmon & Turkey",4.49,6.55
164879,215207,3283,2022-12-16 22:33:53,2022-12-18 15:30:00,NaN,11.04,Corey Doyle,439½ E 50th St,"Manhattan, NY 10022",1955-11-17,516-685-0677,PET7876,1,5.74,"Vegan Adult Cat Food, Duck & Turkey",3.91,7.13

In [27]:
df = df.sort_values(by='profit', ascending=True)

df = df.head(20)

df

,orderid,customerid,ordered,shipped,items,total,name,address,citystatezip,birthdate,phone,sku,qty,unit_price,desc,wholesale_cost,profit
325902,64385,2308,2018-10-26 17:55:15,2018-11-01 18:30:00,NaN,8888.02,Kristina Sandoval,1545B St Nicholas Ave,"Manhattan, NY 10040",1943-02-13,516-608-8966,KIT8686,1,8329.83,Gold Knife,9504.25,-616.23
236730,136255,9032,2020-10-14 16:30:27,2020-10-14 17:00:00,NaN,767.35,Elaine Ballard,609 W 196th St,"Manhattan, NY 10040",1992-07-20,716-779-7589,KIT0273,1,767.35,Gold Fork,830.20,-62.85
346749,73233,6779,2019-01-22 17:57:03,2019-01-22 17:57:03,NaN,281.50,Linda Greer,27-97 36th St,"Astoria, NY 11103",1982-04-23,516-670-5124,CMP2560,1,281.50,Womens Phone,338.88,-57.38
115321,126471,8342,2020-07-08 10:00:53,2020-07-08 10:00:53,NaN,62.49,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316,CMP8053,1,60.17,Cellular Monitor,114.37,-51.88
72598,152309,8342,2021-03-23 14:08:11,2021-03-23 16:15:00,NaN,60.82,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316,HOM7008,1,52.56,Power Blender,104.08,-43.26
236672,163086,10100,2021-07-10 08:17:12,2021-07-10 08:17:12,NaN,787.75,Rachel Newton,23C Adrian Ave,"Bronx, NY 10463",1971-03-29,315-285-1365,KIT0273,1,787.75,Gold Fork,830.20,-42.45
301646,61465,8369,2018-09-28 13:41:46,2018-09-28 14:45:00,NaN,1158.23,Stephanie Thompson,4880A Broadway,"Manhattan, NY 10034",1960-05-24,838-435-0010,KIT7549,1,1158.23,Gold Spatula,1198.59,-40.36
268333,63646,3306,2018-10-19 10:50:12,2018-10-19 10:50:12,NaN,645.24,Andrea Elliott,206½ E 84th St,"Manhattan, NY 10028",1985-05-03,315-260-8152,CMP9027,1,634.92,Wireless Laptop,680.22,-34.98
3743,200947,8342,2022-07-26 08:18:05,2022-07-26 16:00:00,NaN,28.10,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316,COL3831,1,28.10,Noah's Jewelry (orange),49.80,-21.70
232934,65131,7351,2018-11-03 00:54:56,2018-11-03 12:00:00,NaN,1979.12,Kevin Wright,1827 Crotona Ave,"Bronx, NY 10457",1982-08-23,914-732-7313,KIT8049,1,1979.12,Gold Strainer,2000.60,-21.48
253624,197419,7813,2022-06-20 13:39:02,2022-06-20 13:39:02,NaN,109.81,Lori Robinson,3605B 3rd Ave,"Bronx, NY 10456",1961-04-21,838-379-9904,CMP1406,1,109.81,Bluetooth Printer,128.05,-18.24
22158,128492,10818,2020-07-28 18:45:56,2020-07-30 20:00:00,NaN,268.66,Kenneth Richardson,1591A St Nicholas Ave,"Manhattan, NY 10040",1988-10-17,516-848-2235,CMP7107,1,268.66,Wireless Phone,285.77,-17.11
66635,12624,8342,2017-05-28 09:15:06,2017-05-28 11:00:00,NaN,17.56,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316,HOM7105,1,17.56,Handmade Toaster (blue),33.65,-16.09
222335,71910,3789,2019-01-10 08:56:46,2019-01-10 10:00:00,NaN,316.34,Michael Lawson,95 Lincoln Ave,"Bronx, NY 10454",1955-06-19,516-420-8627,HOM2250,1,316.34,Handmade Bicycle,332.42,-16.08
324125,86371,8342,2019-06-01 12:50:16,2019-06-01 12:50:16,NaN,15.90,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316,HOM5139,1,15.90,Electric Machine (amber),31.81,-15.91
377565,94040,8342,2019-08-18 14:20:28,2019-08-18 14:20:28,NaN,78.95,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316,HOM1216,1,53.81,Manual Mixer (orange),94.72,-15.77
177058,187414,5053,2022-03-13 02:38:24,2022-03-13 06:30:00,NaN,195.07,Laura Hart,99 W 88th St,"Manhattan, NY 10024",1991-11-13,838-570-6608,HOM9426,1,195.07,Manual Mixer,208.26,-13.19
236714,70321,4752,2018-12-25 12:44:39,2018-12-25 16:30:00,NaN,817.26,Andrew Guzman,54½ W 84th St,"Manhattan, NY 10024",1992-03-01,585-324-8766,KIT0273,1,817.26,Gold Fork,830.20,-12.94
177229,179699,4525,2021-12-24 13:41:00,2021-12-24 13:41:00,NaN,195.41,Dana Beltran,30-38 Astoria Blvd,"Astoria, NY 11102",1992-10-09,585-721-3827,HOM9426,1,195.41,Manual Mixer,208.26,-12.85
88350,179054,1493,2021-12-17 12:27:49,2021-12-17 12:27:49,NaN,113.16,Kevin Newton,1008 Close Ave,"Bronx, NY 10472",1983-06-08,332-372-0141,CMP6829,1,113.16,Cellular Printer,125.80,-12.64